{% extends "auth-index.html" %}
{% load static %}
{% block content %}
<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Recuperação de senha</h3></div>
<div class="card-body">
    <div class="small mb-3 text-muted">Nós entendemos, as coisas acontecem. Basta digitar seu endereço de e-mail abaixo e nós lhe enviaremos um link para redefinir sua senha!</div>
    <!-- Forgot password form-->
    <form class="user" method="post">
        {% csrf_token %}
        <!-- Form Group (email address)-->
        <div class="form-group">
            <label class="small mb-1" for="inputEmailAddress">Email</label>
            <input  class="form-control"
                    id="inputEmailAddress"
                    type="email"
                    aria-describedby="emailHelp"
                    placeholder="Insira seu email"
                    name="email"/>
        </div>
        <!-- Form Group (submit options)-->
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small" href="auth-login-basic.html">Voltar para login</a>
            <input class="btn btn-primary" href="/login" type="submit" value="Resetar Senha">
        </div>
    </form>
</div>
{% endblock %}
