{% extends "auth-index.html" %}
{% load static %}
{% block content %}
<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Recuperação de senha</h3></div>
<div class="card-body">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Digite a nova senha</h1>
        <p class="mb-4" style="margin-bottom: 5px !important;">Favor digitar sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
    </div>
    <form class="user" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="small mb-1" for="id_new_password1">Senha</label>
            <input  type="password"
                    id="id_new_password1"
                    aria-describedby="emailHelp"
                    autocomplete="new-password"
                    name="new_password1"
                    placeholder="Nova senha:"
                    class="form-control py-4">
        </div>
        <div class="form-group">
            <label class="small mb-1" for="id_new_password2">Confirmação da senha</label>
            <input  type="password"
                    id="id_new_password2"
                    aria-describedby="emailHelp"
                    autocomplete="new-password"
                    name="new_password2"
                    placeholder="Confirmação da senha:"
                    class="form-control py-4">
        </div>
        <!-- Form Group (submit options)-->
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <input href="/reset_password_complete/" class="btn btn-primary btn-user btn-block" type="submit" value="Atualizar Senha">
        </div>
    </form>
    <hr>
    <ul class="helptext" style="font-size: 12px; text-align: start; color: #3a3b45!important;">
        <li class="mb-1">Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
        <li class="mb-1">Sua senha precisa conter pelo menos 8 caracteres.</li>
        <li class="mb-1">Sua senha não pode ser uma senha comumente utilizada.</li>
        <li class="mb-1">Sua senha não pode ser inteiramente númerica.</li>
    </ul>
</div>
{% endblock %}
