{% extends "auth-index.html" %}
{% load static %}
{% block content %}
<div class="card-header justify-content-center"><h3 class="fw-light my-4">Login</h3></div>
<div class="card-body">
    <!-- Login form-->
    <form class="user" method="POST">
        {% csrf_token %}
        <!-- Form Group (email address)-->
        <div class="form-group">
            <label class="small mb-1" for="inputEmailAddress">Email</label>
            <input class="form-control"
                   id="inputEmailAddress"
                   type="email"
                   placeholder="Insira seu email"
                    name="username"/>
        </div>
        <!-- Form Group (password)-->
        <div class="form-group">
            <label class="small mb-1" for="inputPassword">Senha</label>
            <input class="form-control"
                   id="inputPassword"
                   type="password"
                   placeholder="Insira sua senha"
                    name="password"/>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                <label class="custom-control-label" for="rememberPasswordCheck">Lembrar senha</label>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small" href="/forgotPassword/">Esqueceu a senha?</a>
            <input class="btn btn-primary" type="submit" href="index.html" value="Login"></input>
        </div>
    </form>
</div>
<div class="card-footer text-center">
    <div class="small"><a href="/register">Não possui uma conta? Fazer Cadastro</a></div>
</div>
{% endblock %}
