{% extends "auth-index.html" %}
{% load static %}
{% block content %}
<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Recuperação de senha</h3></div>
<div class="card-body">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Redefinição da senha concluído</h1>
        <p class="mb-3">Sua senha foi definida. Você pode ir em frente e logar agora.</p>

    </div>
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="/login/">Voltar para Login</a>
    </div>
</div>
{% endblock %}