{% extends "index.html" %}
{% load static %}
{% block content %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="shopping-cart"></i></div>
                            Cobranças
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <button class="btn btn-success" type="button">
                            Porcentagem à pagar sobre cada pedido: <b>&nbsp;{{ percentage }} %</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
        <div class="card">
            <div class="card-header border-bottom">
                {% include "charges-tabs.html" with active='percentage'%}
            </div>
            <div class="card-body">
                <div id="overlayPro">
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <div class="spinnerPro"></div>
                    </div>
                </div>
                <div class="tab-content" id="cardTabContent">
                    <div class="tab-pane fade show active" id="percentage" role="tabpanel"
                        aria-labelledby="percentage-tab">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTablePercentage" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Data de inicio</th>
                                        <th>Data de fim</th>
                                        <th>Quantidade de pedidos</th>
                                        <th>Valor</th>
                                        <th>Pedidos</th>
                                        <th>Pagar</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="billingInfo" role="tabpanel" aria-labelledby="percentage-tab">
                        {% if need_billing_data %}
                        <div class="alert alert-danger" role="alert">
                        Você precisa preencher os dados de faturamento para continuar utilizando o Droplinkfy.
                        </div>
                        {% endif %}
                        <form id="userBillingDataForm" method="POST" action="/billing_data/">
                            {% csrf_token %}
                            <div class="form-row">
                                
                                <div class="form-group col-md-6">
                                    <label for="inputDocument">Código Fiscal</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select name="doc_type" class="form-control rounded-0" id="selectDocumentType">
                                                <option value="" {% if not user_bill_data %}selected{% endif %} disabled>
                                                    Tipo de ID</option>
                                                <option {% if user_bill_data and user_bill_data.doc_type  ==  "cpf" %}selected{% endif %} value="cpf">CPF</option>
                                                <option {% if user_bill_data and user_bill_data.doc_type  ==  "cnpj" %}selected{% endif %} value="cnpj">CNPJ</option>
                                            </select>
                                        </div>
                                        <input name="document" type="text" class="form-control" id="inputDocument"
                                            placeholder="Código do Documento" value="{% if user_bill_data and user_bill_data.cnpj %}{{ user_bill_data.cnpj }}{% elif user_bill_data and user_bill_data.cpf %}{{ user_bill_data.cpf }}{% else %}{% endif %}">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName">Nome Completo/Razão Social</label>
                                    <input name="name" type="text" class="form-control" id="inputName" placeholder="Nome Completo"
                                        value="{% if user_bill_data %}{{ user_bill_data.name }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputZip">CEP</label>
                                    <input name="zipcode" type="text" class="form-control" id="inputZip"
                                        value="{% if user_bill_data %}{{ user_bill_data.zipcode }}{% endif %}"
                                        placeholder="00000-000">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputState">Estado</label>
                                    <select name="state" id="inputState" class="form-control">
                                        <option {% if not user_bill_data %}selected{% endif %} disabled>Selecionar
                                            Estado</option>

                                        <option {% if user_bill_data and user_bill_data.state  ==  "AC" %}selected{% endif%} value="AC">Acre</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'AL' %}selected{% endif %} value="AL">Alagoas</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'AP' %}selected{% endif %} value="AP">Amapá</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'AM' %}selected{% endif %} value="AM">Amazonas</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'BA' %}selected{% endif %} value="BA">Bahia</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'CE' %}selected{% endif %} value="CE">Ceará</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'DF' %}selected{% endif %} value="DF">Distrito Federal</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'ES' %}selected{% endif %} value="ES">Espírito Santo</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'GO' %}selected{% endif %} value="GO">Goiás</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'MA' %}selected{% endif %} value="MA">Maranhão</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'MT' %}selected{% endif %} value="MT">Mato Grosso</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'MS' %}selected{% endif %} value="MS">Mato Grosso do Sul</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'MG' %}selected{% endif %} value="MG">Minas Gerais</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'PA' %}selected{% endif %} value="PA">Pará</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'PB' %}selected{% endif %} value="PB">Paraíba</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'PR' %}selected{% endif %} value="PR">Paraná</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'PE' %}selected{% endif %} value="PE">Pernambuco</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'PI' %}selected{% endif %} value="PI">Piauí</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'RJ' %}selected{% endif %} value="RJ">Rio de Janeiro</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'RN' %}selected{% endif %} value="RN">Rio Grande do Norte</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'RS' %}selected{% endif %} value="RS">Rio Grande do Sul</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'RO' %}selected{% endif %} value="RO">Rondônia</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'RR' %}selected{% endif %} value="RR">Roraima</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'SC' %}selected{% endif %} value="SC">Santa Catarina</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'SP' %}selected{% endif %} value="SP">São Paulo</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'SE' %}selected{% endif %} value="SE">Sergipe</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'TO' %}selected{% endif %} value="TO">Tocantins</option>
                                        <option {% if user_bill_data and user_bill_data.state == 'EX' %}selected{% endif %} value="EX">Estrangeiro</option>

                                    </select>
                                </div>    
                                <div class="form-group col-md-6">
                                        <label for="inputCity">Cidade</label>
                                        <input name="city" type="text" class="form-control" id="inputCity" placeholder="Cidade"
                                            value="{% if user_bill_data %}{{ user_bill_data.city }}{% endif %}">
                                </div>
                                  
                            
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <label for="inputAddress">Endereço</label>
                                    <input name="address" type="text" class="form-control" id="inputAddress"
                                        value="{% if user_bill_data %}{{ user_bill_data.address }}{% endif %}"
                                        placeholder="Avenida Exemplo">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputAddressNumber">Número:</label>
                                    <input name="addressNumber" type="text" class="form-control" id="inputAddressNumber"
                                        value="{% if user_bill_data %}{{ user_bill_data.address_number }}{% endif %}"
                                        placeholder="000">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                        <label for="inputAddress2">Complemento</label>
                                        <input name="address2" type="text" class="form-control" id="inputAddress2"
                                            value="{% if user_bill_data %}{{ user_bill_data.address2 }}{% endif %}"
                                            placeholder="Apartamento, Lote, Sala...">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPhone">Telefone</label>
                                    <input name="phone" type="text" class="form-control" id="inputPhone"
                                        placeholder="+55 (00) 000000000"
                                        value="{% if user_bill_data %}{{ user_bill_data.phone }}{% endif %}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="subscription" role="tabpanel"
                        aria-labelledby="subscription-tab">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <!-- Billing card 1-->
                                <div class="card h-100 border-start-lg border-start-primary">
                                    <div class="card-body">
                                        <div class="small text-muted">Valor da Assinatura</div>
                                        <div class="h3 price-value">{{subscription.items.data.0.price.unit_amount}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <!-- Billing card 2-->
                                <div class="card h-100 border-start-lg border-start-secondary">
                                    <div class="card-body">
                                        <div class="small text-muted">Próximo Pagamento</div>
                                        <div class="h3 timestamp-value">{{ subscription.current_period_end }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <!-- Billing card 3-->
                                <div class="card h-100 border-start-lg border-start-success">
                                    <div class="card-body">
                                        <div class="small text-muted">Plano Atual</div>
                                        <div class="d-flex align-items-center">
                                            <div class="h3 d-flex align-items-center m-0">Dropshopee</div>
                                            <a class="text-arrow-icon small d-flex align-items-center ml-3 btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#cancelSubscriptionModal">
                                                Cancelar Plano
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Payment methods card-->
                        <div class="card card-header-actions mb-4">
                            <div class="card-header">
                                Métodos de Pagamento
                                <a class="btn btn-sm btn-primary" href="{% url 'portal' %}">Gerenciar Métodos de Pagamentos</a>
                            </div>
                            <div class="card-body px-0">
                                {% for payment_method in payment_methods %}
                                <div class="d-flex align-items-center justify-content-between px-4">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-cc-{{ payment_method.card.brand|lower }} fa-2x cc-color-{{ payment_method.card.brand|lower }}"></i>
                                        <div class="ml-3 ms-4">
                                            <div class="small">{{ payment_method.card.brand|upper }} terminado em {{ payment_method.card.last4 }}</div>
                                            <div class="text-xs text-muted">Expira em {{ payment_method.card.exp_month }}/{{ payment_method.card.exp_year }}</div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                {% empty %}
                                <div class="ml-4">Nenhum método de pagamento cadastrado.</div>
                                {% endfor %}

                            </div>
                        </div>
                        <!-- Billing history card-->
                        <div class="card mb-4">
                            <div class="card-header">Cobranças</div>
                            <div class="card-body p-0">
                                <!-- Billing history table-->
                                <div class="table-responsive table-billing-history">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="border-gray-200" scope="col">Data</th>
                                                <th class="border-gray-200" scope="col">Valor</th>
                                                <th class="border-gray-200" scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for charge in charges %}
                                            <tr>
                                                <td class="timestamp-value">{{charge.created}}</td>
                                                <td class="price-value">{{charge.amount}}</td>
                                                <td><span class="badge {% if charge.paid %}bg-success text-white{% else %}bg-warn text-dark{% endif %}">{% if charge.paid %}Pago{% else %}Pendente{% endif %}</span></td>
                                            </tr>
                                            {% empty %}
                                            <div class="ml-4">Nenhuma cobrança encontrada.</div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Modal Orders-->
<div class="modal fade" id="modalOrders" tabindex="-1" role="dialog" aria-labelledby="modalOrdersLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalMappingList">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title" id="h1PercentageDates">
                            Pedidos
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTableOrders" width="100%"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Logout-->
<div class="modal fade" id="cancelSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="cancelSubscriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelSubscriptionModalLabel">Cancelar Assinatura</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">Tem certeza que deseja cancelar sua assinatura Droplinkfy?</div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="cancelSubscriptionButton" type="button" data-dismiss="modal">Cancelar minha assinatura</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Continuar usando o Droplinkfy</button>
        </div>
    </div>
</div>

<script>
    $('#userBillingDataForm').on('submit',function(e){
        e.preventDefault();
        $.ajax({
            type     : "POST",
            cache    : false,
            url      : $(this).attr('action'),
            data     : $(this).serialize(),
            success  : function(data) {
                if("success" in data) {
                    toastr.success(data.success)
                    window.location.href = window.location.href;
                }
                if("error" in data) {
                    toastr.error(data.error)
                    Sentry.captureMessage(data.error)
                }
            }
        });

    });
    $('#cancelSubscriptionButton').click(function(e){
        $.ajax({
            type     : "POST",
            cache    : false,
            url      : "{% url 'cancel_subscription' %}",
            success  : function(data) {
                if("success" in data) {
                    toastr.info(data.success)
                }
                else {
                    toastr.error(data.error)
                    Sentry.captureMessage(data.error)
                }
            }
        });

    });
    function maskElement(selector, mask) {
        var element = document.querySelector(selector);
        var maskOptions = { mask: mask };
        return IMask(element, maskOptions);
    }


    maskElement('#inputPhone', '+{55} (00) 000000000');
    maskElement('#inputZip', '00000-000');

    async function getCepData(cep) {
        const result = await fetch('https://brasilapi.com.br/api/cep/v2/' + cep);
        const resultJson = await result.json();

        console.log(resultJson);
        return resultJson
    }

    document.querySelector('#inputZip').addEventListener('change', async (e) => {
        if (e.target.value.length >= 9) {
            const data = await getCepData(e.target.value.replace("-", ""))
            document.querySelector('#inputAddress').value = data.street
            document.querySelector('#inputCity').value = data.city
            document.querySelector('option[value="'+data.state+'"]').selected = true;
        }
    })

    window.onload = function () {

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        //Change hash for page-reload
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').on('shown', function (e) {
            window.location.hash = e.target.hash;
        });

        $('.timestamp-value').each((index, element) => {
            var date = new Date(element.innerHTML*1000)
            element.innerHTML = date.toLocaleDateString()
        })
        $('.price-value').each((index, element) => {
            var price = (element.innerHTML/100).toFixed(2)
            element.innerHTML = "{{subscription.items.data.0.price.currency|upper}} " + price
        })
    }
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'functions/chargesJS.js' %}"></script>



{% endblock %}