{% extends "auth-index.html" %}
{% load static %}
{% block content %}
<div class="card text-center border-0">
    <div id="overlayPro">
      <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinnerPro"></div>
      </div>
    </div>
    <div class="card-header bg-transparent justify-content-center py-4"><h5 class="text-primary mb-0">Droplinkfy</h5></div>
    <div class="card-body p-5">
        <p class="lead">Agora a mensalidade da sua assinatura é controlada pela stripe.com !</p>
        <p class="lead">(Não se preocupe, você será cobrado somente quando a sua mensalidade da kiwify vencer)</p>
        <input href="#" id="addCard" class="btn btn-primary"  type="submit" value="Continuar" style=" margin-top: 50px; padding-right: 30px; padding-bottom: 20px; padding-top: 20px; padding-left: 30px;"></input>
    </div>
</div>
<script>var csrftoken = '{{ csrf_token }}';</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script >
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'functions/stripeApi.js' %}"></script>
{% endblock %}
