<!DOCTYPE html>
{% load static %}
{% load gtm_tags%}

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    </head>
    <body>
        <table id="dataTable" class="display">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Variante</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Mapear Fornecedor</th>
                    <th>Ações</th>
                </tr>
            </thead>
        </table>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    {% block jquery %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#dataTable').DataTable({
                    "ajax": "/shopifyProductsJson/",
                    "columns": [
                         { "data": "product_shopify__title"},
                         { "data": "title" },
                         { "data": "sku" },
                         { "data": "price"},
                         { "data": "gid",
                            "render": function(data, type, row, meta) {
                                return '<img src="/media/'+data+'" style="height:100px;"/>';
                            }
                         }
                     ]
                });
                $('#dataTable2').DataTable({
                    responsive: true
                });
            });
        </script>
    {% endblock %}

    </body>
</html>

