{% extends "index.html" %}

{% load static %}

{% block content %}

<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon">
                                <i data-feather="bar-chart-2"></i>
                            </div>
                            Gráficos
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-n10" style="max-width: 100%;">
        <div class="container-xl px-4 mt-n10">
            <div class="card mb-4">
                <div class="card-header">
                    Total de pedidos processados
                    <button class="btn" id="refreshTotalOrders">
                        <i class="fas fa-sync-alt fa-lg text-primary"></i>
                    </button>
                </div>

                <div class="card-body">
                    <div class="loadingOverlay" id="totalOrdersOverlay">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>

                    <div class="chart-area d-flex justify-content-center align-items-center">
                        <canvas id="totalOrdersChart" width="100%" height="30"></canvas>
                        <div class="chartError" id="totalOrdersChartError"></div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    Valor dos pedidos processados
                    <button class="btn" id="refreshValueOrders">
                        <i class="fas fa-sync-alt fa-lg text-primary"></i>
                    </button>
                </div>

                <div class="card-body">
                    <div class="loadingOverlay" id="valueOrdersOverlay">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>

                    <div class="chart-bar d-flex justify-content-center align-items-center">
                        <canvas id="valueOrdersChart" width="100%" height="50"></canvas>
                        <div class="chartError" id="valueOrdersChartError"></div>
                    </div>
                </div>
            </div>

            <div id="users">
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    Economizado com pedidos Upsell
                    <button class="btn" id="refreshUpsell">
                        <i class="fas fa-sync-alt fa-lg text-primary"></i>
                    </button>
                </div>

                <div class="card-body">
                    <div class="loadingOverlay" id="upsellOverlay">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>

                    <div class="chart-bar d-flex justify-content-center align-items-center">
                        <canvas id="upsellChart" width="100%" height="50"></canvas>
                        <div class="chartError" id="upsellChartError"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>var csrftoken = '{{ csrf_token }}';</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'functions/graphs.js' %}"></script>

{% endblock %}
