{% extends "index.html" %}
{% load static %}
{% block content %}


<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="mx-5">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="shopping-cart"></i></div>
                            Pedidos
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <a target="_blank" class="btn btn-warning" href="{{ notionUrl }}">Tutorial -> Entendendo os estados dos pedidos !</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-n10" style="max-width: 100%;">
        <div class="card" style="font-size: 0.8rem;">
            <div id="overlayPro">
              <div class="w-100 d-flex justify-content-center align-items-center">
                <div class="spinnerPro"></div>
              </div>
            </div>
            <div class="row" style="padding: .35rem;">                
                <div class="col-md-5" style="display: flex; align-items: center; justify-content: start;">
                    <div class="dataTables_filter">
                        <label>Pedido:<input type="search" class="form-control form-control-sm ml-2" placeholder="" id="orderNameFilter" name="orderNameFilter" style="
                            display: inline-block;
                            width: auto;
                        "></label>
                        <button type="button" id="searchOrder" class="btn btn-light" style="
                            display: inline-block;
                            width: auto;
                            height: calc(1em + 1rem + 2px);
                            padding: 0.5rem 0.75rem;
                            font-size: 0.75rem;
                            line-height: 1;
                            border-radius: 0.25rem;
                            border-color: black;
                        ">Procurar</button>
                    </div>
                </div>
                <div class="col-md-7 float-right" style="text-align: -webkit-right;">
                    <div style="display: flex; align-items: center; justify-content: end;">
                        <a class="btn btn-primary exportCsvButton mr-2" type="button"  data-toggle="modal" data-target="#exportCsvModal"> <i class="fas fa-cloud-download-alt mr-2"></i>Baixar CSV</a>
                        <!-- Date range picker example button-->
                        <button class="btn btn-light p-3 daterange" id="daterange" style="border-color: black;">
                            <i class="mr-2 text-primary" data-feather="calendar"></i>
                            <span></span>
                            <i class="ml-1" data-feather="chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-header" id="navigation">
                <ul class="nav nav-tabs card-header-tabs" id="cardTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="AI" href="#ai-tab" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Pedidos no Shopify<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="AO" href="#ao-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Aguard. Pedido<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="AP" href="#ap-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Aguard. Pagamento<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="APS" href="#aps-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; max-width: 140px; word-wrap: normal; height: 100%; padding: 0.4rem;">Aguard. Pagamento Fornecedor<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="AS" href="#as-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem 0.7rem;">Aguard. Envio<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="AF" href="#af-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Aguard. Processamento<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="F" href="#f-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Pedidos Processados<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="FO" href="#fo-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Pedidos Falhados<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="C" href="#c-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Pedidos Cancelados<br>(0)</a></li>
                    <li class="nav-item"><a class="nav-link" id="DO" href="#do-tab" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false" style="text-align: center; width: 110px; word-wrap: normal; height: 100%; padding: 0.4rem;">Pedidos Deletados<br>(0)</a></li>
                </ul>
            </div>
            <div class="card-body" style="padding-top: 10px;">
                <div class="tab-content" id="cardTabContent">
                    <div class="tab-pane fade show active" id="ai-tab" role="tabpanel" aria-labelledby="overview-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-success  processOrdersButton" id="processOrdersButton" type="button" style="width: 100%; height: 100%;">Processar no Fornecedor</a>
                            </div>
                            <div class="col-md-8" style="align-self: center;">                                
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-right;">
                                <a class="btn btn-danger  deleteOrdersButton" id="deleteOrdersButton-AI" type="button" style="width: 100%; height: 100%;">Deletar Pedidos</a>
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-AI" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-AI" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-AI"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do pedido</th>
                                    <th>Valor do Pedido</th>
                                    <th>Valor Total c/Upsell</th>
                                    <th>Itens do pedido (Shopify)<div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Associar Pedido Upsell</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ao-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-AO" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-AO" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-AO"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do pedido</th>
                                    <th>Valor do Pedido</th>
                                    <th>Valor Total c/Upsell</th>
                                    <th>Itens do pedido (Shopify)<div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ap-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                            </div>
                            <div class="col-md-8" style="align-self: center;">
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-right;">
                                <a class="btn btn-danger  cancelOrdersButton" id="cancelOrdersButton-AP" type="button" style="width: 100%; height: 100%;">Cancelar no Fornecedor</a>
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-AP" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-AP" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-AP"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th>Custo dos Produtos</th>
                                    <th>Frete</th>
                                    <th>Lucro (R$)</th>
                                    <th>Lucro (%)</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="aps-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                            </div>
                            <div class="col-md-8" style="align-self: center;">
                    
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-right;">
                                <a class="btn btn-danger  cancelOrdersButton" id="cancelOrdersButton-APS" type="button" style="width: 100%; height: 100%;">Cancelar no Fornecedor</a>
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-APS" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-APS" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-APS"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th>Custo dos Produtos</th>
                                    <th>Frete</th>
                                    <th>Lucro (R$)</th>
                                    <th>Lucro (%)</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="as-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row">
                            <div class="col" style="text-align: -webkit-left;">
                                <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                            </div>
                            <div class="col"></div>
                            <div class="card bg-primary text-white mb-3">
                                <div class="card-body p-3 d-flex justify-content-center mb-n3">
                                    <p style="font-size: 13px">
                                        Exibir apenas pedidos com código de rastreio
                                    </p>

                                    <div class="custom-control custom-switch ml-3" style="margin-top: -6px;">
                                        <input
                                            class="custom-control-input"
                                            id="trackingToggle"
                                            type="checkbox"
                                            data-onstyle="success"
                                            checked
                                        />
                                        <label class="custom-control-label" for="trackingToggle"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-AS" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-AS" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-AS"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th>Custo dos Produtos</th>
                                    <th>Frete</th>
                                    <th>Lucro (R$)</th>
                                    <th>Lucro (%)</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="af-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                            </div>
                            <div class="col-md-6" style="align-self: center;">
                                
                            </div>
                            <div class="col-md-4 float-right" style="text-align: -webkit-right;">
                                <a class="btn btn-success  processedShopifyButton" id="processedShopifyButton-AF" type="button" style="width: 100%; height: 100%;">Meus pedidos estão sendo automaticamente processados?</a>
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-AF" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-AF" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-AF"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th>Custo dos Produtos</th>
                                    <th>Frete</th>
                                    <th>Lucro (R$)</th>
                                    <th>Lucro (%)</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="f-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="datatable">
                            <div class="row" style="margin-bottom: .35rem;">
                                <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                    <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                                </div>
                                <div class="col-md-10" style="align-self: center;"> 
                                </div>
                            </div>
                            <table class="table table-bordered table-hover" id="dataTable-F" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-F" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-F"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th>Custo dos Produtos</th>
                                    <th>Frete</th>
                                    <th>Lucro (R$)</th>
                                    <th>Lucro (%)</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="fo-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-success  processOrdersButton" id="processOrdersButton-FO" type="button" style="width: 100%; height: 100%;">Processar Pedidos</a>
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                            </div>
                            <div class="col-md-6" style="align-self: center;">
                                
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-right;">
                                <a class="btn btn-danger  deleteOrdersButton" id="deleteOrdersButton-FO" type="button" style="width: 100%; height: 100%;">Deletar Pedidos</a>
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-FO" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-FO" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-FO"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-success  processOrdersButton" id="processOrdersButton-C" type="button" style="width: 100%; height: 100%;">Processar Pedidos</a>
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-primary" id="listBoletos" type="button" data-toggle="modal" data-target="#listBoletoModal"><i class="fas fa-file-invoice mr-3"></i>Ver Boletos<span class="ml-3 badge badge-light listBoletosCount">0</span></a>
                            </div>
                            <div class="col-md-6" style="align-self: center;">
                                
                            </div>
                            <div class="col-md-2 float-right" style="text-align: -webkit-right;">
                                <a class="btn btn-danger  deleteOrdersButton" id="deleteOrdersButton-C" type="button" style="width: 100%; height: 100%;">Deletar Pedidos</a>
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-C" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input selectGeral" id="selectGeral-C" type="checkbox">
                                                <label class="custom-control-label" for="selectGeral-C"></label>
                                        </div>
                                    </th>
                                    <th>Tem upsell?</th>
                                    <th>Número do pedido</th>
                                    <th>Cancelado no Fornecedor?</th>
                                    <th>Data do Pedido</th>
                                    <th>Valor Total</th>
                                    <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                    <th>Detalhes do Cliente</th>
                                    <th>Extn.</th>
                                    <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="do-tab" role="tabpanel" aria-labelledby="example-tab">
                        <div class="row" style="margin-bottom: .35rem;">
                            <div class="col-md-2 float-right" style="text-align: -webkit-left;">
                                <a class="btn btn-success processOrdersButton" id="processOrdersButton-DO" type="button" style="width: 100%; height: 100%;">Processar Pedidos</a>
                            </div>
                            <div class="col-md-10" style="align-self: center;">
                                
                            </div>
                        </div>
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable-DO" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>
                                      <div class="custom-control custom-checkbox">
                                          <input class="custom-control-input selectGeral" id="selectGeral-DO" type="checkbox">
                                              <label class="custom-control-label" for="selectGeral-DO"></label>
                                      </div>
                                  </th>
                                  <th>Tem upsell?</th>
                                  <th>Número do pedido</th>
                                  <th>Cancelado no Fornecedor?</th>
                                  <th>Data do Pedido</th>
                                  <th>Valor Total</th>
                                  <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                                  <th>Detalhes do Cliente</th>
                                  <th>Extn.</th>
                                  <th>Extn.</th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<!-- Modal -->
<div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-labelledby="editOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalBodyEditOrder">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title" id="h1OrderName">
                            Pedido:
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div id="overlayProModal">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>
                    <form name="form" id="editOrderForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="display: none;">
                            <label class="small mb-1" for="orderId">Nome do cliente</label>
                            <input class="form-control" name="orderId" id="orderId" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="clientName">Nome do cliente</label>
                            <input class="form-control" name="clientName" id="clientName" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="clientPhone">Telefone do cliente</label>
                            <input class="form-control" name="clientPhone" id="clientPhone" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="cpf">Cpf</label>
                            <input class="form-control" name="cpf" id="cpf" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="street">Endereço</label>
                            <input class="form-control" name="street" id="street" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="street_number">Número</label>
                            <input class="form-control" name="street_number" id="street_number" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="complement">Complemento</label>
                            <input class="form-control" name="complement" id="complement" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="neighborhood">Bairro</label>
                            <input class="form-control" name="neighborhood" id="neighborhood" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="zip_code">Cep</label>
                            <input class="form-control" name="zip_code" id="zip_code" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="city">Cidade</label>
                            <input class="form-control" name="city" id="city" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="state">Estado</label>
                            <input class="form-control" name="state" id="state" type="text" />
                        </div>
                        <input class="btn btn-primary" id="saveOrderModalBtn" type="button" value="Salvar"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="upsellOrderModal" tabindex="-1" role="dialog" aria-labelledby="upsellOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalBodyEditOrder">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            Selecione o pedido a que quer associar o pedido: 
                        </h1>
                        <h1 class="page-header-title" id="h1MainOrderName">
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div id="overlayProModalUpsell">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTable-UPSELL" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input selectGeralUpsell" id="selectGeral-UPSELL" type="checkbox">
                                            <label class="custom-control-label" for="selectGeral-UPSELL"></label>
                                    </div>
                                </th>
                                <th>Nome</th>
                                <th>Data criação</th>
                                <th>Nome do cliente</th>
                                <th>Endereço</th>
                                <th>Estado</th>
                                <th class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></th>
                                <th>Extn.</th>
                            </tr>
                          </thead>
                        </table>
                    </div>                    
                    <div class="row mt-4" style="margin-bottom: .35rem;">
                        <div class="col-md-8" style="align-self: center;"></div>
                        <div class="col-md-4 float-right" style="text-align: -webkit-left;">
                            <a class="btn btn-success confirmLinkButton" id="confirmLinkButton" type="button" style="width: 100%; height: 100%;">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ordersPurchaseModal" style="z-index: 2000;" tabindex="-1" role="dialog" aria-labelledby="upsellOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalBodyOrdersPurchase">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title" id="h1MainOrderPurchaseName">Compras no Fornecedor: <span id="ordersPurchaseName"></span></h1>
                    </div>
                </div>
                <div class="card-body">
                    <div id="ordersPurchaseBodyModal" style="overflow-x: auto;"></div>
                    <div id="overlayProModalOrderPurchase">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="customerDetailModal" tabindex="-1" role="dialog" aria-labelledby="customerDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalBodyCustomerDetail">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title" id="h1MainOrderName">Dados do Cliente: <span id="customerDataName"></span></h1>
                    </div>
                </div>
                <div class="card-body">
                    <div id="customerDataBodyModal" style="overflow-x: auto;"></div>
                    <div id="overlayProModalCustomer">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export CSV -->
<div class="modal fade" id="exportCsvModal" tabindex="-1" role="dialog" aria-labelledby="exportCsvModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h1 class="page-header-title">Baixar Relatório</h1>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <div class="card-body">
                    <h4>Data dos Pedidos</h4>
                    <button class="btn btn-light p-3 daterange" id="exportDaterange" style="border-color: black;">
                        <i class="mr-2 text-primary" data-feather="calendar"></i>
                        <span></span>
                        <i class="ml-1" data-feather="chevron-down"></i>
                    </button>
                    <h4 class="mt-4">Estado dos Pedidos</h4>
                    <select id="exportCsvStatusSelect" class="exportStatusSelect form-control">
                        <option value="AI">Pedidos no Shopify</option>
                        <option value="AO">Aguard. Pedido</option>
                        <option value="AP">Aguard. Pagamento</option>
                        <option value="APS">Aguard. Pagamento Shopee</option>
                        <option value="AS">Aguard. Envio</option>
                        <option value="AF">Aguard. Processamento</option>
                        <option value="F">Pedidos Processados</option>
                        <option value="FO">Pedidos Falhados</option>
                        <option value="C">Pedidos Cancelados</option>
                        <option value="DO">Pedidos Deletados</option>
                    </select>
                    <h4 class="mt-4">Notificações</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="exportCsvSendToMailChecked" checked>
                        <label class="form-check-label" for="exportCsvSendToMailChecked">
                            Enviar e-mail quando o relatório estiver pronto para download.
                        </label>
                    </div>
                    <div istyle="overflow-x: auto;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary createReportBtn">Baixar Relatório</a>
            </div>
        </div>
    </div>
</div>


<!-- Ver Boletos -->
<div class="modal fade" id="listBoletoModal" tabindex="-1" role="dialog" aria-labelledby="listBoletoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            Boletos Aguardando Pagamento
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTable-BOLETOS" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input selectGeralBoleto" id="selectGeral-BOLETO" type="checkbox">
                                            <label class="custom-control-label" for="selectGeral-BOLETO"></label>
                                    </div>
                                </th>
                                <th>Número</th>
                                <th>Pedido</th>
                                <th>Url</th>
                                <th>Data de Vencimento</th>
                                <th>Pago</th>
                                <th>Valor</th>
                                <th><div style="color:#0061f2">Items do pedido (Shopify)</div><div class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></div></th>
                            </tr>
                          </thead>
                        </table>
                    </div>                    
                    <div class="row mt-4" style="margin-bottom: .35rem;">
                        <div class="col-md-5 float-left" style="text-align: -webkit-left;">
                            <textarea type="text" id="boletosClipboardInput" style="width: 1px; height: 1px;position: absolute;top: -1000px;"></textarea>
                            <button class="btn btn-primary" id="boletosClipboardButton" data-clipboard-target="#boletosClipboardInput" style="width: 100%; height: 100%;"><i class="fas fa-clipboard mr-3"></i>Copiar Números<span class="ml-3 badge badge-light modalBoletosClipCount">0</span></button>
                        </div>
                        <div class="col-md-3" style="align-self: center;"></div>
                        <div class="col-md-4 float-right" style="text-align: -webkit-left;">
                            <a class="btn btn-success paidButton boletosModalBtns" id="paidButton-BOLETO" type="button" style="width: 100%; height: 100%;">Boletos Pagos</a>
                        </div>
                    </div>
                    <div id="overlayListBoletoModal">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="spinnerPro"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "orderModal_AO.html" %}
{% include "orderModal_AP.html" %}
{% include "orderModal_APS.html" %}
{% include "orderModal_AS.html" %}
{% include "orderModal_AF.html" %}
{% include "orderModal_F.html" %}
{% include "orderModal_FO.html" %}
{% include "orderModal_C.html" %}

{% include "vendorChoiceModal.html" %}

<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'functions/ordersJS.js' %}"></script>


{% endblock %}
