{% extends "index.html" %} {% load static %} {% block content %}
<main>
  <header
    class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
  >
    <div class="container">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto mt-4">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="user"></i></div>
              Criar e Cadastrar Usuário do Fornecedor
            </h1>
            <div class="page-header-subtitle">
              Criar e cadastrar um usuário para fazer a compra no fornecedor
            </div>
          </div>
          <div class="col-12 col-xl-auto mt-4">
            <a target="_blank" class="btn btn-warning" href="{{ notionUrl }}"
              >Tutorial -> Como criar contas da forma correta !</a
            >
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main page content-->
  <div class="container mt-n10">
    <div class="card mb-4">
      <div id="overlayPro">
        <div class="w-100 d-flex justify-content-center align-items-center">
          <div class="spinnerPro"></div>
        </div>
      </div>
      <div class="card-header">Criar Usuário Shopee</div>
      <div class="card-body">
        <form name="form" method="POST" id="userShopeeForm">
          {% csrf_token %}
          <input type="hidden" id="#ctype" name="ctype" value="{{ctype}}"/>
          {% if ctype == 'other' %}
          <!-- Form Group (new password)-->
          <div class="form-group">
            <label class="small mb-1" for="email">Email</label>
            <input
              class="form-control"
              value="{{ userShopee.email }}"
              name="email"
              id="email"
              type="text"
              placeholder="Email"
            />
          </div>

          <div class="form-group">
            <label class="small mb-1" for="password">Senha</label>
            <input
              class="form-control"
              value="{{ userShopee.password }}"
              name="password"
              id="password"
              type="password"
              placeholder="Senha"
            />
          </div>
          <div class="form-group">
            <label class="small mb-1" for="phone">Telefone</label>
            <input
              class="form-control"
              value="{{ userShopee.phone }}"
              name="phone"
              id="phone"
              type="text"
              placeholder="Telefone"
            />
          </div>
          {% endif %}
            <!-- Form Group (new password)-->
          <!-- Form Group (confirm password)-->
          <div class="form-group">
            <label class="small mb-1" for="proxy">Proxy</label>
            <input
              class="form-control"
              value="{{ userShopee.proxy }}"
              name="proxy"
              id="proxy"
              type="text"
              placeholder="Ip do Proxy"
            />
          </div>
          <!-- Form Group (confirm password)-->
          <div class="form-group">
            <label class="small mb-1" for="port">Porta</label>
            <input
              class="form-control"
              value="{{ userShopee.port }}"
              name="port"
              id="port"
              type="number"
              placeholder="Porta do Proxy"
            />
          </div>
          <!-- Form Group (confirm password)-->
          <div class="form-group">
            <label class="small mb-1" for="proxy_login">Proxy login</label>
            <input
              class="form-control"
              value="{{ userShopee.proxy_login }}"
              name="proxy_login"
              id="proxy_login"
              type="text"
              placeholder="Login do proxy"
            />
          </div>
          <!-- Form Group (confirm password)-->
          <div class="form-group">
            <label class="small mb-1" for="proxy_password"
              >Proxy password</label
            >
            <input
              class="form-control"
              value="{{ userShopee.proxy_password }}"
              name="proxy_password"
              id="proxy_password"
              type="password"
              placeholder="Senha da proxy"
            />
          </div>
          <div class="form-group">
            <div>
            
              <label class="small mb-1" for="captcha_signature"
                >Assinatura {% if ctype == 'google' %}Google{% else %}Captcha{% endif %}</label
              >
              <span id="install_droplinkfy_extension" style="color: red">
                [Instale a
                <a
                  href="https://www.notion.so/Instala-o-da-Extens-o-do-Chrome-79ec1bcf1e134067b3f2b7bf9ff2111d"
                  target="_blank"
                  >extensão do Chrome</a
                >
                para obter esse campo]
              </span>
            </div>

            <input
              class="form-control"
              value="{{ userShopee.captcha_signature }}"
              name="captcha_signature"
              id="captcha_signature"
              type="text"
              placeholder="Assinatura {% if ctype == 'google' %}Google{% else %}Captcha{% endif %}"
            />
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                value="0"
                name="activated"
                id="activated"
                type="checkbox"
                checked=""
              />
              <label class="custom-control-label" for="activated"
                >Funcionando</label
              >
            </div>
          </div>
          <a class="btn btn-primary" id="btnValidateUserShopee"
            >Criar e Cadastrar usuário</a
          >
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  var csrftoken = "{{ csrf_token }}";
  var phoneErrorsMessage = {
    PHONE_VALIDATION_ERROR_DDI_MSG: "{{ PHONE_VALIDATION_ERROR_DDI_MSG }}",
    PHONE_VALIDATION_ERROR_DDD_MSG: "{{ PHONE_VALIDATION_ERROR_DDD_MSG }}",
    PHONE_VALIDATION_ERROR_PHONE_MSG: "{{ PHONE_VALIDATION_ERROR_PHONE_MSG }}",
  };
  var FILL_ALL_FIELDS_VALIDATION_MSG = "{{ FILL_ALL_FIELDS_VALIDATION_MSG }}";
</script>

{% include 'shopeeUserCookie.html' %} {% endblock %}
