{% load static %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-l" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="modalMappingList">
        <div id="overlayProSms">
          <div class="w-100 d-flex justify-content-center align-items-center">
            <div class="spinnerPro"></div>
          </div>
        </div>
        <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px">
          <div class="col-auto mt-4">
          {% if ctype == 'google' %}
            <h1 class="page-header-title" id="h1ProductName2">
              Confirmação de Celular
            </h1>
            <div class="page-header-subtitle" id="subtitleVariantName2">
              Um código de verificação será enviado por mensagem SMS para seu
              celular
            </div>
          {% else %}
            <h1 class="page-header-title" id="h1ProductName2">
              Digite O Código De Verificação
            </h1>
            <div class="page-header-subtitle" id="subtitleVariantName2">
              Seu código de verificação foi enviado por mensagem SMS para seu
              celular
            </div>
          {% endif %}
          </div>
        </div>
        <div class="card-body">
          {% if ctype == 'google' %}
          <form name="form" id="shopeeFormPhone" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label class="small mb-1" for="g_phone">Telefone</label>
              <input class="form-control" name="g_phone" id="g_phone" type="tel" placeholder="Telefone com DDD" />
            </div>
            <button class="btn btn-primary" id="btnSendPhone" value="Enviar">Enviar SMS</button>
          </form>
          {% endif %}
          <form name="form" {% if ctype == 'google' %} hidden {% endif %} id="shopeeForm" method="POST">
          
            {% csrf_token %}
            <div class="form-group">
              <label class="small mb-1" for="sms_code">Código do SMS</label>
              <input class="form-control" name="sms_code" id="sms_code" type="number" placeholder="Código 6 dígitos" />
              <div id="resend_sms">
                Aguarde {{ counter_seconds }} segundos para reenviar.
              </div>
            </div>

            <button class="btn btn-primary" id="btnValidateSms" value="Verificar">Validar SMS</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var csrftoken = "{{ csrf_token }}";
  var counterSeconds = "{{ counter_seconds }}";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="{% static 'functions/shopeeUserCookieJS.js' %}"></script>