{% load static %}
<!-- Modal -->
<div class="modal fade" id="accountSelector" tabindex="-1" role="dialog" aria-labelledby="accountSelector"
  aria-hidden="true">
  <div class="modal-dialog modal-l" style="min-width: 60%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="modalMappingList">
        <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px">
          <div class="col-auto mt-4">
            <h1 class="page-header-title" id="h1ProductName2">
              Adicionar novo Usuário de Fornecedor
            </h1>
            <div class="page-header-subtitle" id="subtitleVariantName2">
              Selecione o tipo de conta que deseja criar:
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">AliExpress</h5>
                  <p class="card-text">Será necessário o login e senha de um usuário ativo do AliExpress.</p>
                  <a {% if hasAliUser %} onclick="toastr.error('Você já adicionou um usuário AliExpress.')" {% else %} href="/vendorUserCreate/aliexpress" {% endif %}%% class="btn btn-primary">Adicionar Usuário AliExpress</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Shopee</h5>
                  <p class="card-text">Será necessário um email e um telefone disponível para confirmação via SMS.</p>
                  <a href="/vendorUserCreate/other" class="btn btn-primary">Criar Usuário Shopee</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var csrftoken = "{{ csrf_token }}";
  var counterSeconds = "{{ counter_seconds }}";
</script>