{% extends "index.html" %}
{% load static %}
{% block content %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Upload CSV
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
        <div class="card mb-4">            
            <div class="card-header container-fluid">
                <div class="row">
                    <div class="col-md-12" style="/* align-content: center; */align-self: center;">
                        Usuários
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="small mb-1" for="captcha_signature">Assinatura Captcha</label>
                        <input class="form-control" value="{{ userShopee.captcha_signature }}" name="captcha_signature" id="captcha_signature" type="text" placeholder="Assinatura Captcha" />
                    </div>
                    <input type="file" name="usersCSV">
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    var csrftoken = '{{ csrf_token }}';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
{% endblock %}