{% extends "index.html" %}
{% load static %}
{% block content %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="shopping-cart"></i></div>
                            Pedidos - Aguardando Envio
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <a target="_blank" class="btn btn-warning" href="{{ notionUrl }}">Tutorial -> Entendendo os estados dos pedidos !</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
        <div class="card mb-4">
            <div class="card-header">Pedidos</div>
            <div class="card-body">
                <div class="datatable">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Nome cliente</th>
                            <th>Telefone cliente</th>
                            <th>Cpf</th>
                            <th>Usuário Fornecedor</th>
                            <th>Valor</th>
                            <th>Utilizado voucher de frete</th>
                            <th>Items do pedido (Shopify)</th>
                            <th>Compras do pedido (Fornecedor)</th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Modal OrderLineItems-->
<div class="modal fade" id="modalOrderLineItems" tabindex="-1" role="dialog" aria-labelledby="modalOrderLineItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalMappingList">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title" id="h1OrderName">
                            Pedido:
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTableOrderLineItems" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Variante</th>
                                <th>Quantidade</th>
                            </tr>
                          </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal OrderPuchases-->
<div class="modal fade" id="modalOrderPurchaseLineItems" tabindex="-1" role="dialog" aria-labelledby="modalOrderPurchaseLineItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body" id="modalMappingList">
                <div class="card-header row align-items-center justify-content-between" style="padding-top: 0px;">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title" id="h1OrderName">
                            Pedido:
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTableOrderPurchaseLineItems" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                                <th>Usuário Fornecedor</th>
                                <th>URL do pedido (Fornecedor)</th>
                                <th>Produto</th>
                                <th>Variante</th>
                                <th>Data da compra</th>
                                <th>Valor do frete</th>
                                <th>Estado</th>
                                <th>Motivo do cancelamento</th>
                                <th>Código de rastreio</th>
                            </tr>
                          </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var csrftoken = '{{ csrf_token }}';
    var orderStatus = '{{ status }}';
</script>
<script src="{% static 'functions/shopifyOrdersJS.js' %}"></script>



{% endblock %}