server {
  listen $PORT default_server;


  location /about{
        proxy_pass https://droplinkfy.vercel.app/;
    }

  location / {
        proxy_pass https://front-droplinkfy.herokuapp.com/;
    }
}
