upstream frontend {
    server $FRONTEND_URL;
}

upstream backend {
    server $BACKEND_URL;
}

server {
  listen $PORT default_server;

  
  location /about {
        proxy_pass http://frontend;
    }

  location / {
        proxy_pass http://backend;
    }
}
