server {
  listen $PORT default_server;


  location /about {
        proxy_pass https://droplinkfy.vercel.app/about;
    }

  location / {
        proxy_pass https://front-droplinkfy.herokuapp.com/;
        proxy_set_header Cookie $http_cookie;
        
        # Proxy headers
        proxy_set_header X-Forwarded-Proto $scheme
    }
}
